.forms__header {
    padding-top: 38px;
    padding-bottom: 17px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.forms__title {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.forms__desc {
    margin: 0;
    line-height: 24px;
}

@media #{$tablet-width} {

    .forms__header {
        padding-top: 74px;
        padding-bottom: 74px;
        border-bottom: none;
    }

    .forms__title {
        font-size: 30px;
        margin-bottom: 31px;
    }

    .forms__desc {
        padding-right: 16%;
        padding-left: 16%;
    }
}

@media #{$desktop-width} {
    .forms__header {
        padding-top: 111px;
        padding-bottom: 59px;
    }

    .forms__desc {
        padding-right: 27%;
        padding-left: 27%;
    }
}
