.page-header {
    position: relative;
}

.page-header__logo {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translate(-50%);
}

@media #{$tablet-width} {
    .page-header__logo {
        top: 0;
    }
}
