.success-popup {
    position: absolute;
    top: 240%;
    left: 50%;
    display: none;
    width: 320px;
    height: 323px;
    background-color: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
    box-shadow:  0 0 15px 2px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
}

.success-popup__wrapper {
    height: 225px;
    padding-top: 43px;
    padding-right: 55px;
    padding-left: 55px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.success-popup__title {
    display: block;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.success-popup__text {
    margin: 0;
    margin-bottom: 54px;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.success-popup__btn {
    min-width: 280px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    background-color: $blue;
    text-transform: uppercase;
}

@media #{$tablet-width} {
    .success-popup {
        top: 155%;
        width: 640px;
        height: 347px;
    }

    .success-popup__title {
        width: 345px;
        margin: auto;
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 40px;
    }

    .success-popup__wrapper {
        height: 201px;
        padding-top: 55px;
    }

    .success-popup__text {
        width: 420px;
        margin: auto;
        margin-bottom: 33px;
    }

    .success-popup__btn {
        min-width: 458px;
        margin-top: 44px;
        font-weight: 700;
        font-size: 21px;
    }
}

@media #{$desktop-width} {
    .success-popup {
        top: 140%;
    }
}
