.videos__header {
    padding-top: 33px;
    padding-bottom: 35px;
    text-align: center;
}

.videos__title {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.videos__desc {
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 24px;
}

.videos__item {
    display: flex;
    justify-content: center;
}

.video__picture {
    display: block;
    width: 100%;
}

.video__control {
    position: relative;
    top: -45px;
    padding-right: 6.25%;
    padding-left: 6.25%;
}

.control__range {
    padding-top: 10px;
    padding-right: 23px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: rgba(0, 0, 0, 0.6);
}

.control__range input[type="range"] {
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.control__range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 9px;
    width: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.control__instrument {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    height: 20px;
    background-color: #f2f2f2;
}

.control__replay {
    margin-right: auto;
}

.control__fullscreen {
    margin-left: 40px;
}

@media #{$tablet-width} {

    .videos {
        padding-bottom: 41px;
    }

    .videos__header {
        padding-top: 66px;
        padding-bottom: 73px;
    }

    .videos__title {
        font-size: 30px;
        margin-bottom: 31px;
    }

    .videos__desc {
        padding-right: 18%;
        padding-left: 18%;
    }

    .video {
        position: relative;
    }

    .video__control {
        position: absolute;
        top: inherit;
        bottom: 0;
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .control__instrument {
        padding-top: 36px;
        padding-right: 41px;
        padding-bottom: 36px;
        padding-left: 41px;
        background-color: transparent;
    }

    .control__range {
        position: absolute;
        top: 33px;
        left: 93px;
        width: 390px;
        padding: 0;
        background-color: transparent;
    }

    .control__instrument {
        justify-content: flex-end;
    }

    .control__subtitles {
        margin-left: 460px;
    }
}

@media #{$desktop-width} {

    .control__range input[type="range"] {
        width: 540px;
    }

    .control__subtitles {
        margin-left: 610px;
    }

    .videos {
        padding-bottom: 86px;
    }

    .videos__header {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .videos__desc {
        padding-right: 32%;
        padding-left: 32%;
    }
}
