.page-footer {
    padding-top: 36px;
    padding-bottom: 23px;
}

.page-footer_hashtag {
    margin: 0;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.page-footer__social {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 40px;
}

.social__btn {
    display: block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    background-color: $blue;

    &--tw {
        background-image: url("../img/icon-tw.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &--yt {
        background-image: url("../img/icon-yt.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &--fb {
        background-image: url("../img/icon-fb.png");
        background-repeat: no-repeat;
        background-position: center;
    }


    &:last-child {
        margin-right: 0;
    }
}

.page-footer__copyright {
    margin: 0;
    line-height: 26px;
    text-align: center;
}

.copyright__link {
    color: #000000;
    text-decoration: none;
}

.copyright__link img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}

@media #{$tablet-width} {

    .page-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 36px;
    }

    .page-footer_hashtag {
        margin-bottom: 0;
    }

    .page-footer__social {
        margin-bottom: 0;
    }

    .page-footer__copyright {
        margin-bottom: 0;
    }
}
